<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="login-msg">
        <h1 id="hello">Hello <span class="uname"> <%= user %> </span></h1>
        <h2 id="msg">Login Successfull</h2>
        <p>
            <a href="/">click hear</a>
        </p>
    </div>
</body>
</html>